page-category {

}

.card-background-category {

  ion-card {
    position: relative;
    text-align: center;
    margin: 0 0 0 0;
    width: 100%;
  }

  .card-image {
    opacity: 0.8;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 1.8em;
    width: 100%;
    font-weight: bold;
    color: ghostwhite;
    text-shadow: 1px 1px 1px #352f2f;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }

}
