<ion-header>
  <!--<ion-navbar>-->
    <!--<ion-title>LOGO</ion-title>-->
    <!--<ion-buttons end>-->
      <!--<button ion-button icon-only color="royal">-->
        <!--<ion-icon name="menu"></ion-icon>-->
      <!--</button>-->
    <!--</ion-buttons>-->
  <!--</ion-navbar>-->
  <ion-navbar>
    <ion-title>LOGO</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let food of foods; let i = index" col-4 col-sm-4 col-md-3 col-lg-3 col-xl-2>
        <img src="http://localhost:8000/images/{{food.englishName | lowercase}}.jpeg" (click)="selectFood(food)"/>
      </ion-col>
      <!--<ion-card *ngIf="selectedFood">-->
        <!--<img src="http://localhost:8000/images/{{selectedFood.englishName | lowercase}}.jpeg"/>-->
        <!--<ion-card-content>-->
          <!--<ion-card-title>-->
            <!--{{selectedFood.name}} ({{selectedFood.englishName}})-->
          <!--</ion-card-title>-->
          <!--<p>-->
            <!--{{selectedFood.description}}-->
          <!--</p>-->
        <!--</ion-card-content>-->
      <!--</ion-card>-->
    </ion-row>
  </ion-grid>
</ion-content>
